/* bez #FFEBCF */
/* granat #110D23 */
/* fiolet #987583 */
/* blekit #AEC8DA */
/* jasny #F2F9FD */

body {
	background-color: #F2F9FD;
	margin-top: 10px;
}

header, footer {
	margin: 0 auto;
}

main {
	text-align: center;
	padding: 20px 0;
	border-top: 1px dashed #987583;
}

.navbar-default {
	background-color: #F2F9FD;
	border: 0;
	margin-bottom: 10px;
}

.navbar-brand {
	padding-left: 0;
	color: #110D23;
	font-weight: bold;
}

.mainNav {
	padding: 0;
}

h1 {
	font-size: 20px; 
}

h1 a:hover {
	text-decoration: none;
	color: #000;
}

footer {
	clear: both;
	color: #110D23;
	padding: 20px 0;
	border-top: 1px dashed #987583;
	text-align: center;
}

.session_form_container input {
	margin-bottom: 20px;
}

.session_form_container {
	margin: 0 auto;
}

.session_form_container .create-btn {
	margin-bottom: 30px;
}

.session_form_container form {
	margin-top: 30px;
}

@media (min-width: 768px) {
	.session_form_container {
		width: 400px;
	}
}

/*================================================= RECIPE NESTED FORM ======================================================*/

.ingredients_container, .directions_container {
	width: 48%;
	float: left;
	margin-top: 30px;
}
.directions_container {
	float: right;
}

.ingredients_container .ingredients, .directions_container .directions{
	padding: 5px;
	border: 1px dashed #987583;
	background-color: #fff;
}

.ingredients_container .ingredients li, .directions_container .directions li{
	clear: both;
}

.ingredients_container .ingredients .form-group{
	width: 40%;
	float: left;
}

.directions_container .directions .form-group{
	width: 85%;
	float: left;
}

.ingredients li .form-group:first-of-type, .directions li .form-group:first-of-type{
	margin-right: 5px;
}

.ingredients_container h3, .directions_container h3{
	background-color: #F2F9FD;
	position: relative;
	bottom: 5px;
}

.create-recipe-heading {
	margin-bottom: 20px;
}

.recipe-form .recipe-title-input, .recipe-form .recipe-description-input {
	margin-bottom: 10px;
}


.create-recipe-button-container {
	clear: both;
	padding-top: 30px;
}

.delete-recipe-button {
	margin-top: 20px;
}

.image-label {
	float: left;
	margin-right: 20px;
	line-height: 27px;
}



/* ================================= RECIPES ==================================== */

.recipes-index {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.recipes-index .container-fluid {
	width: 100%;
}

.recipes-index .recipe {
	width: 100%;
	height: 300px;
	float: left;
	margin: 30px 0;
	padding: 2px 20px;
	box-sizing: border-box;
}

.recipes-index .recipe a {
	color: #987583;
	font-weight: bold;
	width: 100%;
}

.recipes-index .recipe a:hover {
	text-decoration: none;
}

.recipes-index .recipe .title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #FFEBCF;
	width: 100%;
	border: 1px dotted #110D23;
}

.recipes-index .img-container {
	width: 100%;
	height: 250px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.recipes-index img {
	position: absolute;
  left: 50%;
  top: 50%;
  height: 250px;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
	filter: none;
  -webkit-filter: grayscale(0%);
  
}

.recipes-index img:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

@media (min-width: 768px) {
	.recipes-index .recipe {
		width: 50%;
		height: 300px;
		float: left;
	} 
}

@media (min-width: 992px ) {
	.recipes-index .recipe {
		width: 33%;
		height: 300px;
		float: left;
	}
}

